@page "/"
@inject IRepoVacunados RepoVacunados

<h1>Hello, world!</h1>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Cedula</th>
            <th>Nombre</th>
        </tr>
    </thead>
    <tbody>
        @if(lsVacunados != null){
            @foreach (var item in lsVacunados)
            {
                <tr>
                    <td>@item.cedula</td>
                    <td>@item.nombre</td>
                </tr>
            }
        }
    </tbody>
</table>

@code{
    List<Vacunados> lsVacunados = new List<Vacunados>();
    
    protected async override Task OnInitializedAsync()
    {
        lsVacunados = await RepoVacunados.Get();
    }
}