@page "/Informacion"
@using System

        
        
    <div class="row justify-content-center">
    <div class="col-8">
        <div class="alert alert-info text-center">
            <h1>Informacion del Grupo</h1>
        </div>
    </div>
</div>

<div class="row">
    <!-- Carta numero 1 -->
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Danny Ozuna Vasquez</h5>
        <p class="card-text">Matricula: 2019-7992</p>
        <p class="card-text">El lider</p>
      </div>
    </div>
  </div>

    <!-- Carta numero 2 -->
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Guimel Acosta </h5>
        <p class="card-text"> Matricula: 2019-7638 </p>
      </div>
    </div>
  </div>


<!-- Carta numero 3 -->
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Gustavo Ernesto Sanchez Amador</h5>
        <p class="card-text">Matricula: 2019-8314</p>
      </div>
    </div>
  </div>

<!-- Carta numero 4-->
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Pamela Natali Hernández Torres</h5>
        <p class="card-text">Matricula: 2019-7824</p>
      </div>
    </div>
  </div>
</div>




@code
{





}